pathlib
httpx
PyYAML
groq
python-dotenv
pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
openai
pip install datasets peft transformers trl accelerate
pip install fastapi
uvicorn
pip install -U sentence-transformers
pip install neo4j
pip install redis
pip install RapidFuzz
pip install PyPDF2
pip install python-docx
pip install sse-starlette
pip install llama-cpp-python